name: Build and Push to ACR

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  REGISTRY: acrcreate.azurecr.io
  IMAGE_NAME: flask-minimal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build image
      run: docker build -t $REGISTRY/$IMAGE_NAME:v1 .

    - name: Push image
      run: docker push $REGISTRY/$IMAGE_NAME:v1
